<h1>制作物(仮)へようこそ！</h1>
<p>まだ制作中だからちょっと待ってね…</p>
<p>左のサイドバーから世界観やキャラクターを選べるよ！</p>

<h2>SNS</h2>
<div class="flex space-x-4 text-2x1">
    <!-- X（旧Twitter） -->
    <a href="https://twitter.com/101_9n" target="_blank">
    <i class="fa-brands fa-twitter"></i>
    </a>
</div>