<footer style="background-color: #f0f0f0; padding: 10px; text-align: center;">
  <p>© 2025 ?</p>
  <div style="font-size: 1.5rem;">
    <a href="https://twitter.com/101_9n" target="_blank" style="margin: 0 10px;">
      <i class="fab fa-x-twitter"></i>
    </a>
  </div>
</footer>
