<footer style="background-color: #f0f0f0; padding: 10px; text-align: center;">
  <p>© 2025 ?</p>
  <div class="flex space-x-4 text-2x1">
    <!-- X（旧Twitter） -->
    <a href="https://twitter.com/101_9n" target="_blank">
    <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
</footer>
